@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@600;900&display=swap");

body {
  width: 100vw;
  font-family: "Fraunces";
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fffcf8;
}
.desktop {
  display: none;
}

.first-section {
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-position: bottom -50px;
  background-size: cover;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  padding-right: 24px;
  padding-left: 24px;
  justify-content: space-between;
  align-items: center;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 24px solid white;
  border-left: 24px solid transparent;
  display: none;
  position: absolute;
  top: 82px;
  left: 329px;
}

#myLinks {
  display: none;
  width: 329px;
  height: auto;
  background-color: #fffcf8;
  z-index: 10;
  position: absolute;
  top: 106px;
  padding-bottom: 40px;
  padding-top: 23px;
  list-style: none;
}

header li a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.142857px;
  color: #808397;
  padding: 16px 16px;
  display: block;
  text-align: center;
}

.contact {
  width: 140px;
  height: 56px;
  background: #fbd600;
  border-radius: 28px;
  margin: 0 auto;
  position: relative;
}

.contact a {
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303e;
  padding: 16px 30px;
  position: absolute;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 88px;
}

.arrow-down {
  margin-left: 45%;
  margin-top: 52px;
  margin-bottom: 127px;
}

.second-section > img {
  width: 100%;
}

.transform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 24px;
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.228571px;
  color: #24303e;
}

p {
  margin-top: 24px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #808397;
  margin-bottom: 32px;
}

span {
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303e;
}

.line {
  width: 137px;
  height: 10px;
  background: rgba(250, 212, 0, 0.25);
  mix-blend-mode: normal;
  border-radius: 28px;
  margin-top: -10px;
}

.line.two {
  background: rgba(254, 119, 102, 0.25);
}

.third-section > img {
  width: 100%;
}

.bg-section-one {
  background-image: url("./images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.frame {
  padding: 398px 24px 59px 24px;
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554a;
}

.frame > p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #24554a;
}

.bg-section-two {
  background-image: url("./images/mobile/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.bg-section-two > .frame > p {
  color: #19536c;
}
.bg-section-two > .frame > h3 {
  color: #052c3b;
}

h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 4px;
  color: #a7aaad;
  padding: 64px 48px;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px 64px 24px;
}

.photo > img {
  width: 72px;
  height: 72px;
  object-fit: fill;
  border-radius: 50%;
}

h5 {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303e;
}

.person > p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5b636d;
  margin-top: 32px;
  margin-bottom: 32px;
}

.person > span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #a7aaad;
}
.sixth-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.sixth-section > img {
  width: 50%;
  height: 50%;
}

.last-section {
  padding: 64px 39px 80px 39px;
  background: #90d4c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last-section > ul {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 88px;
}

.last-section li > a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #458d7e;
}

.last-section > .icons {
  display: flex;
  gap: 28px;
}
@media screen and (min-width: 1440px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }

  header {
    padding-right: 48px;
    padding-left: 40px;
    padding-top: 34px;
  }
  header > img {
    width: 170px;
    height: 33px;
  }

  header ul {
    display: flex;
  }

  header li a {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #ffffff;
    padding: 0;
    display: block;
    text-align: center;
  }

  .contact {
    width: 140px;
    height: 56px;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.25;
    border-radius: 28px;
    margin: 0;
  }

  .first-section {
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  header > a > img {
    display: none;
  }
  #myLinks {
    display: flex;
    gap: 47px;
    position: static;
    justify-content: flex-end;
    align-items: center;
    background: none;
    width: 100%;
    top: 106px;
    padding-bottom: 0px;
    list-style: none;
    cursor: pointer;
    padding-top: 0;
  }

  .contact {
    position: static;
    background: #ffffff;
    opacity: 1;
  }
  .contact:hover {
    background: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    border-radius: 28px;
  }

  .contact a {
    font-family: "Fraunces 9pt Soft";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: #24303e;
    margin: 0 auto;
  }

  .contact a:hover {
    color: rgba(255, 255, 255, 1);
  }

  h1 {
    font-weight: 900;
    font-size: 56px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 8.75px;
    text-transform: uppercase;
  }

  .arrow-down {
    margin-left: 50%;
    margin-top: 96px;
    margin-bottom: 350px;
  }

  .second-section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .second-section > .desktop {
    width: 50%;
  }

  .transform {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 64px 24px;
  }
  .transform h2 {
    width: 50%;
    text-align: left;
    margin-left: 165px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.285714px;
  }
  .transform p {
    width: 67%;
    text-align: left;
    margin-left: 165px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.128571px;
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .transform span {
    text-align: left;
    margin-left: 165px;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303e;
    cursor: pointer;
    position: relative;
  }

  .line {
    margin-left: 160px;
  }

  .transform span:hover + .line {
    background: rgba(250, 212, 0, 1);
  }

  .transform span:hover + .line.two {
    background: rgba(254, 119, 102, 1);
  }
  .third-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .third-section > .desktop {
    width: 50%;
  }
  .fourth-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .bg-section-one {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: bottom -50px;
    background-size: cover;
    width: 50%;
  }
  .frame {
    margin-left: 191px;
    width: 55%;
  }
  .frame h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.2px;
  }

  .frame p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.114286px;
    margin-top: 27px;
    margin-bottom: 0px;
  }

  .bg-section-two {
    width: 50%;
    background-image: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: bottom -50px;
    background-size: cover;
  }

  h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 160px;
    padding-bottom: 181px;
  }

  .clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 160px;
  }
  .person {
    width: 33.3%;
  }

  .person .two {
    padding-top: 10px;
  }
  .sixth-section .desktop {
    width: 25%;
    height: auto;
  }

  .last-section {
    padding: 72px 570px;
  }

  .last-section svg {
    transform: scale(1.5);
  }

  .icons img:hover {
    filter: grayscale(100%) brightness(0%) invert(100%);
  }

  .icons img {
    cursor: pointer;
  }
}
